.card{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: max-content;
    margin: 0 20px 0 20px;
}

.card img{
    width: 290px;
    height: 320px;
    object-fit: cover;
}
.card_id{
    font-size: 40px;
}

