.cards{
    width: 1320px;
    overflow: hidden;
}
.moving{
    display: flex;
    flex-direction: row;
}

.slider button{
    width: 150px;
    height: 50px;
    cursor: pointer;
}

.left_button{
    background-color: red;
    cursor: default;
}

.right_button{
    background-color: #FE8700;
}

.active_card .card_text,
.active_card .card_header{
    color: #FE8700;
}