.slider{
    margin-top: 31px;
    margin-right: 13px;
}

.cards{
    width: 1320px;
    overflow: hidden;
}
.moving{
    display: flex;
    flex-direction: row;
}

.buttons{
    display: flex;
    justify-content: center;
}

.slider button{
    cursor: pointer;
    background-color: white;
    border: none;
}

.left_button{
    margin-right: 19px;
}

.cards{
    margin-top: 20px;
}